.funds {
  width: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.funds p {
  font-size: 0.8rem;
  color: rgb(179, 179, 179);
  margin-right: 8px;
}

.funds-btn {
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  color: #fff;
  margin-right: 2px;
  margin-left: 2px;
  cursor: pointer;
  font-size: 0.9rem;
}

.funds-btn-green {
  background: #4caf50;
}

.funds-btn-green:hover {
  background: #7bdd7f;
}

.funds-btn-blue {
  background: #4184f3;
}

.funds-btn-blue:hover {
  background: #74a7fa;
}

.funds-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5%;
}

.funds-col {
  flex-basis: 48%;
  text-align: left;
}

.funds-table {
  border: 1px solid #ddd;
  padding: 5% 8%;
  box-sizing: border-box;
}

.funds-table .data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.funds-table .data > * {
  margin-bottom: 5%;
}

.funds-table .data p:first-child {
  font-size: 1rem;
  color: rgb(151, 151, 151);
}

.funds-imp {
  font-size: 1.5rem;
  color: #313131;
}

.funds-colored {
  color: #4184f3;
}

.funds-table hr {
  border: none;
  background: #d1d1d1;
  height: 0.5px;
  margin-bottom: 5%;
}

.funds-commodity {
  padding: 2% 8%;
  text-align: center;
}

.funds-commodity p {
  margin-bottom: 10%;
  color: #c9c9c9;
}

.funds-commodity .funds-btn {
  margin-top: 10px;
}